# Ignore local configuration files.
/.rspec
/.ruby-gemset
/.ruby-version

# Ignore local scripting
bin/spec.*

# Ignore generated documentation.
/doc
.yardoc

# Ignore compiled gem files.
*.gem
.bundle
Gemfile.lock
gemfiles/*.gemfile.lock

# Ignore development documentation.
DEVELOPMENT.md
